<div class="main">
  <h2>_resume</h2>

  <div class="experience"><h3>_experience</h3>
    <ul class="list-unstyled">

    </ul>
  </div>
  <div class="education"><h3>_education</h3>

  </div>
  <div class="more"><h3>_more</h3>
    <ul class="list-unstyled">
      <li>
        <dl class="dl-horizontal">
          <dt>languages</dt>
          <dd><span>English (intermediate)</span></dd>
          <dt>interests</dt>
          <dd>
            <span>Sports, </span>
            <span>New technologies, </span>
            <span>Football</span>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
</div>
