<div class="main">
  <h2>_resume</h2>

  <div class="experience"><h3>_experience</h3>
    <ul class="list-unstyled">
      <li>
        <h5>_January 2015_Present</h5>
        <dl class="dl-horizontal">
          <dt>role</dt>
          <dd>Front End Developer</dd>
          <dt>company</dt>
          <dd>TenantCloud</dd>
          <dt>technologies</dt>
          <dd>
            HTML (writing clean, semantic markup), CSS (Modular, scalable),
            CSS methodologies (SMACSS, OOCSS), CSS preprocessors (like SCSS, PostCSS),
            Modern CSS (Flexbox, Grid), JS, Modern JS (ES6, Typescript), JS frameworks (Angular),
            Testing frameworks (Jasmine, Mocha), Build tools (Grunt, Gulp, NPM Scripts, Webpack)
          </dd>
          <dt>description</dt>
          <dd>
            <p>
              A basic understanding of whatever back-end language is being used
            </p>
            <p>- Startup project</p></dd>
        </dl>
      </li>

      <li>
        <h5>_March 2013_2015</h5>
        <dl class="dl-horizontal">
          <dt>role</dt>
          <dd>Front End Developer</dd>
          <dt>company</dt>
          <dd>Ukietech</dd>
          <dt>technologies</dt>
          <dd>jQuery, SASS, Grunt, Git, JavaScript, AngularJS, Gulp, PHP, Apache</dd>
          <dt>description</dt>
          <dd>
            <p>
              CMS configuration, Front end scripting, Web UI development and debugging, Bug fixing
            </p>
            <p>- Various internal projects</p></dd>
        </dl>
      </li>

      <li>
        <h5>_Feb 2011_Nov 2012</h5>
        <dl class="dl-horizontal">
          <dt>role</dt>
          <dd>Freelance</dd>
          <dt>technologies</dt>
          <dd>jQuery, Git, Css, PHP, Wordpress, Apache</dd>
          <dt>description</dt>
          <dd><p>- Design and development of UI using Photoshop, CSS3, Prototype, jQuery, HTML5 and PHP</p>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
  <div class="education"><h3>_education</h3>
    <ul class="list-unstyled">
      <li>
        <dl class="dl-horizontal">
          <dt>field</dt>
          <dd>Computer Engineering</dd>
          <dt>university</dt>
          <dd>Lviv Polytechnic National University</dd>
          <dt>dates</dt>
          <dd>2007-2012</dd>
          <dt>status</dt>
          <dd>Master's degree completed</dd>
        </dl>
      </li>
      <li>
        <dl class="dl-horizontal">
          <dt>school</dt>
          <dd>School 3, Kalush</dd>
          <dt>dates</dt>
          <dd>1997-2007</dd>
          <dt>status</dt>
          <dd>Degree completed</dd>
        </dl>
      </li>
    </ul>
  </div>
  <div class="more"><h3>_more</h3>
    <ul class="list-unstyled">
      <li>
        <dl class="dl-horizontal">
          <dt>languages</dt>
          <dd><span>English (pre intermediate)</span></dd>
          <dt>interests</dt>
          <dd>
            <span>Sports, </span>
            <span>New technologies, </span>
            <span>Football</span>
          </dd>
        </dl>
      </li>
    </ul>
  </div>

<!--  <div class="skills">-->
<!--    <h3>_skills</h3>-->
<!--    <span ng-repeat="skill in skills">{{ skill.title }}</span>-->
<!--    <span class="no-bg">...and more!</span>-->
<!--  </div>-->
</div>
